<div class="container my-5">
  <h1 class="mb-3">Edit Employee</h1>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="editEmployeeForm" (ngSubmit)="updateEmployee()">
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
          {{ error }}
        </div>
        <div class="mb-3">
          <label for="id" class="form-label">Id</label>
          <input
            type="text"
            class="form-control"
            id="id"
            formControlName="id"
            [(ngModel)]="employeeDetails.id"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="inputFirstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="inputFirstName"
            formControlName="inputFirstName"
            [(ngModel)]="employeeDetails.firstName"
            [ngClass]="{
              'is-invalid': submitted && f['inputFirstName'].errors
            }"
          />
          <div
            *ngIf="submitted && f['inputFirstName'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['inputFirstName'].errors?.['required']">
              First Name is required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="inputLastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="inputLastName"
            formControlName="inputLastName"
            [(ngModel)]="employeeDetails.lastName"
            [ngClass]="{
              'is-invalid': submitted && f['inputLastName'].errors
            }"
          />
          <div
            *ngIf="submitted && f['inputLastName'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['inputLastName'].errors?.['required']">
              Last Name is required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="inputDepartment" class="form-label">Department</label>
          <input
            type="text"
            class="form-control"
            id="inputDepartment"
            formControlName="inputDepartment"
            [(ngModel)]="employeeDetails.department"
            [ngClass]="{
              'is-invalid': submitted && f['inputDepartment'].errors
            }"
          />
          <div
            *ngIf="submitted && f['inputDepartment'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['inputDepartment'].errors?.['required']">
              Department is required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            formControlName="inputEmail"
            [(ngModel)]="employeeDetails.email"
            [ngClass]="{
              'is-invalid': submitted && f['inputEmail'].errors
            }"
          />
          <div
            *ngIf="submitted && f['inputEmail'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['inputEmail'].errors?.['pattern']">
              Enter a valid email address
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="inputPhone" class="form-label">Phone</label>
          <input
            type="text"
            class="form-control"
            id="inputPhone"
            formControlName="inputPhone"
            [(ngModel)]="employeeDetails.phone"
          />
        </div>
        <div class="mb-3">
          <label for="inputDevice" class="form-label">Device</label>
          <input
            type="text"
            class="form-control"
            id="inputDevice"
            formControlName="inputDevice"
            [(ngModel)]="employeeDetails.device"
          />
        </div>
        <button type="submit" class="btn btn-primary mr-5">Save</button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteEmployee(employeeDetails.id)"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
